html {
  margin: 0px;
  font-family: "Montserrat", "sans-serif";
  font-size: small;
  background-color: rgb(185, 233, 255);
}

#App {
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 580px;
  max-width: 780px;
  min-height: 150px;
  min-width: 250px;
  width: 35vw;
  height: 80vh;
}

.nav {
  display: block;
  width: 100%;
  height: 25px;
  display: flex;
  align-items: flex-end;
  overflow: auto;
  background-color: rgb(185, 233, 255);
  margin-bottom: 0px;
  border-bottom: none;
  border: 1px solid rgb(185, 233, 255);
}

::-webkit-scrollbar {
  height: 0;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
  cursor: pointer;
}

.label {
  margin-top: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.tab {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 4px;
  max-width: 50px;
  min-width: 15px;
  width: fit-content;
  height: 100%;
  border: 1px solid rgb(185, 233, 255);
  border-left: none;
  overflow: hidden;
  background-color: white;
  filter: brightness(90%);
  font-size: 10px;
  word-wrap: break-word;
}

.tab:hover {
  filter: brightness(100%);
}

.tab-active {
  max-width: 150px;
  min-width: 100px;
  width: fit-content;
  padding: 0 5px 3px 8px;
  font-size: small;
  font-weight: bold;
  border-bottom: white;
  filter: brightness(100%);
  z-index: 1;
}

.new-tab {
  aspect-ratio: 1/1;
  height: 100%;
  width: 28px;
  min-width: 25px;
  font-size: medium;
  font-weight: 600px;
  justify-content: center;
  border-right: none;
  border-top: none;
  margin-right: 1px;
  padding-top: 5px;
}

.new-tab:focus {
  outline: none;
}

.delete {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 20px;
  height: 20px;
  margin: 5px 0 0 5px;
  border-radius: 25%;
  border: unset;
  user-select: none;
  -webkit-user-select: none;
}

.delete:hover {
  background-color: rgb(185, 233, 255);
}

.tab,
.tab > label:hover {
  cursor: pointer;
}

.modal {
  top: 100px;
}

.body {
  height: 100%;
  width: 100%;
  margin-top: 0px;
  margin-left: 0px;
  background-color: white;
  border: 1px solid rgb(185, 233, 255);
  border-top: none;
  z-index: 1;
}

.body > * {
  margin: 3px;
}

#text {
  background-color: white;
  border: none;
  font-family: "Montserrat", "sans-serif";
  height: 97%;
  margin-top: -1px;
  overflow: auto;
  resize: none;
  width: 97%;
}

#text:focus {
  outline: none;
}

.settings-dropdown {
  background-color: white;
  border: 1px solid gray;
  display: flex;
  flex-direction: column;
  padding: 5px;
  position: absolute;
  width: 120px;
  z-index: 2;
}

.settings-dropdown > * {
  margin: 1px 0;
}

.settings-dropdown > label {
  display: flex;
  justify-content: space-between;
}

.show-more {
  background: unset;
  border: unset;
  margin: 10px 0;
}

.show-more:hover {
  color: #555;
}

.input-number {
  width: 50px;
}

.credit {
  margin-top: 3px;
  font-size: 8px;
  bottom: -8px;
}
